<div class="row">
  <div id="messDiv" class="col-md-6">
    <div id="messCard" class="card">
      <h4>Messages: </h4>
      <% @messages.each do |message| %>
        <% if message.content %>
          <% user = User.find(message.user_id) %>
          <div class=”item”>
            <div class=”content”>
              <% if user == current_user %>
                <small><strong class="myMess"><%= user.username %></strong> <%= message.message_time %></small>
              <% else %>
                <small><strong class="theirMess"><%= user.username %></strong> <%= message.message_time %></small>
              <% end %>
                <div class=”list”>
                  <div class=”item”>
                  <i class=”right triangle icon”></i>
                  <%= message.content %>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div id="writeDiv" class="col-md-6">
    <div id="textCard" class="card">
      <%= form_for [@conversation, @message], remote: true do |f| %>
        <%= f.text_area :content, :rows => 10, style: 'width:100%;', class: 'formBack' %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <div>
          <%= f.submit class: 'btn btn-primary'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
