<div class="card">
  <div class="row">
    <div class="col-md-6">
      <h4><%= @user.name %></h4>
      <div class="userDet">
        <%= image_tag(@user.avatar.url(:medium)) %>
      </div>
    </div>
    <div class="col-md-6">
      <p>Description:</p>
      <p><%= @user.detail %></p>
      <br>
      <h5>About Me:</h5>
      <p>Home Country: <%= @user.home %></p>
      <p>Age: <%= @user.age %></p>
      <p>Years of Experience: <%= @user.experience %></p>
      <p>Username: <%= @user.username %></p>
      <% if current_user %>
        <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post'%>
      <% else %>
        <p>Log in to message me!</p>
      <% end %>
    </div>
  </div>
</div>
